// SASS MIXINS

@mixin flex($flex, $max-width, $min-width){
	-webkit-flex: $flex;
	-ms-flex: $flex;
	-moz-flex: $flex;
	flex: $flex;
	max-width: $max-width;
	min-width: $min-width;
}

@mixin height($max-height, $min-height){
	max-height: $max-height;
	min-height: $min-height;
}

@mixin bgData($bgURL, $bg-size, $bg-pos, $bg-repeat, $z-index){
	background: $bgURL;
	background-size: $bg-size;
	background-position: $bg-pos;
	background-repeat: $bg-repeat;
	z-index: $z-index;
}

@mixin size($width, $height){
	width: $width;
	height: $height;
}

@mixin pos($pos, $top, $left){
	position: $pos;
	top: $top;
	left: $left;
}