@import 'mixins';
@import 'variables';
@import 'base';

/* section 1 */

.box-shadow {
	box-shadow: 20px 20px 20px black;
}

.wrapper {
	@include size(100%, 100%)
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;	
}

.text-container {
	@include pos(absolute, 30%, 20%)
	color: $bg-secondary;
	z-index: 2;
	line-height: 2.0;
}

.text-container h1 {
	font-family: Kreon;
	font-weight: 700;
	color: $bg-secondary;
}

.text-container h3 {
	font-size: 24px;
	margin-bottom: 30px;
}

#about-container {
	@include pos(absolute, 120px, 20%)
	overflow: hidden;
	@include size(61%, 75%);
	z-index: 100;
	border-radius: 20px;
	transition: box-shadow 0.3s;
}

.hidden {
	display: none;
}

#about-container h3 {
	font-size: 48px;
}

.about-text-container {
	@include size(100%, 100%)
	padding: 100px 50px;

}

.life-story{
	font-family: Kreon;
	font-size: 20px;
}

.life-story i {
	font-size: 100px;
	width: 20%;
	margin: 2%;
	margin-top: 100px;
}


#about-text {
	@include pos(relative, 0, 0)
	@include size(50%, 100%)
	background: $bg-secondary;
	transform: translateY(100%);
	transition: transform 0.5s ease-in-out;
}

#contact-text {
	color: $bg-secondary;
	@include pos(absolute, 0, 50%)
	@include size(50%, 100%)
	background: #232323;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
}



#close-button {
	font-size: 32px;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: font-size 0.3s ease-in;
}

#close-button:hover{
	font-size: 40px;
}


#section-a {
	position: relative;
	background: $bg-primary;
	height: 100vh;
	@include size(100%, 1000px)
}

#header-links {
	@include flex(1, 50%, 30%)
}

#header-links a:hover {
	color: white;
}

#brand-logo {
	@include flex(3, 100%, 50%)
}

#logo-bg {
	@include size(100%, 60%)
	@include bgData(url(../img/logo.png), contain, center, no-repeat, 1)
}

#logo-overlay {
	@include size(80%, 90%)
	background: $bg-primary;
	opacity: 0.6;
}
/* end section 1 */
/* begin section 2 */
#section-b {
	width: 100%;
	background: $bg-secondary;
	padding-top: 50px;
}

#section-b .wrapper i {
	@include flex(1, 50%, 30%)
	font-size: 200px;
	margin: 20px; 
}

.fab {
	transition: all 0.5s;
}
.fa-js-square:hover {
	color: #FBF545;
}

.fa-html5:hover {
	color: #F6601E;
}

.fa-css3-alt:hover {
	color: steelblue;
}

.fa-node:hover {
	color: #29FF60;
}

.fa-sass:hover {
	color: #FF94C6;
}

.fa-gulp:hover {
	color: #F35C3E;
}

.fa-git:hover {
	color: #F6601E;
}

.fa-github:hover {
	color: #EE60FB;
}

.fa-angular:hover {
	color: #C3002F;
}

#section-b h1 {
	margin-left: 50px;
}
/* end section 2 */
/* begin section 3 */

.latest-work {
	@include height(800px, 800px)
	border-right: 10px solid black;
}

#section-c .wrapper a {
	@include height(800px, 800px)
	@include flex(1, 100%, 10%)
	transition: flex 0.8s linear;
}

#section-c .wrapper a:hover {
	flex: 10;
}
#section-c {
	background: $bg-primary;
	@include size(100%, 1000px)
	padding-top: 50px;
	padding-bottom: 300px;
}

#section-c h1 {
	color: $bg-secondary;
	margin-left: 50px;
}

#section-c .wrapper {
	top: 5%;
	@include height(800px, 800px)
}

#work-1 {
	@include bgData(url(../img/tributepage3.png), cover, left, no-repeat, 1)
}

#work-2 {
	@include bgData(url(../img/mytwitch3.png), cover, left, no-repeat, 1)
}

#work-3 {
	@include bgData(url(../img/moviehunt3.png), cover, left, no-repeat, 1)
	border-right: 10px solid black;
}

/* end section 3 */
/* begin section 4 */
.experiment {
	@include height(300px, 200px);
}
.fa-flask {
	transition: all 1s;
	font-size: 72px;
}
.fa-flask:hover {
	color: steelblue;

}

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	opacity: 1;
}

.text-wrap{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
}

#section-d {
	width: 100%;
	position: relative;
	background: $bg-secondary;
	padding: 50px 50px 200px 50px;

}

#section-d .wrapper {
	margin-top: 100px;
	@include size(60%, 50%)
	justify-content: stretch;
	z-index: 2;

}

#section-d .wrapper a {
	@include height(200px, 200px)
	@include flex(1, 50%, 300px)
	transition: filter 1s;
	filter: grayscale(100%);

	
}

#section-d .wrapper a div{
	border: 2px solid black;
}

#section-d .wrapper a:hover {
	filter: grayscale(0%);
}

#experiment-1 {
	@include bgData(url(../img/wiki.png), cover, center, no-repeat, 1)
}

#experiment-2 {
	@include bgData(url(../img/rps.png), cover, center, no-repeat, 1)
}

#experiment-3 {
	@include bgData(url(../img/rgb.png), cover, center, no-repeat, 1)
}

#experiment-4 {
	@include bgData(url(../img/js_slider.png), cover, center, no-repeat, 1)
}

#experiment-5 {
	@include bgData(url(../img/pomodoro.png), cover, center, no-repeat, 1)
}

#experiment-6 {
	@include bgData(url(../img/randomquotes.png), cover, center, no-repeat, 1)
}

/*end section 4 */
/* begin section 5*/
#section-e {
	@include size(100%, 350px)
	background: $bg-primary;
	padding: 60px;
}

#footer {
	@include size(100%, 100%)
	color: white;
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	line-height: 2.0;
	}

#footer img, #brand-logo img{
	@include size(100px, 100px)
	cursor: pointer;
}
#footer a{
	margin: 0 20px;
	}

#footer a:hover {
	color: white
	}


#copyright {
	font-family: Roboto;
	font-size: 16px;
}
/* end section 5 */

/* Media Queries */
@media(max-width: 1600px){
	.about-text-container i {
		margin-top: 20px;
		font-size: 50px;
		width: 15%;
	}
}


@media(max-width: 1200px){

	#section-c {
		@include size(100%, 1500px)
	}
	#section-c .wrapper {
		display: block;
	}

	#section-c .wrapper a {
	@include height(400px, 400px)
	@include size(100%, 400px)
}

.latest-work {
	@include height(400px, 400px)
	width: 100%;
	margin-top: 10px;
	border-right: 10px solid black;
}

#work-1, #work-2, #work-3 {
	background-size: 100% 100%;
}

#section-d .wrapper a {
	@include height(300px, 300px)
	@include flex(1, 100%, 100%)
	transition: all 1s;
	filter: grayscale(100%);
}

.experiment {
	@include height(300px, 300px);

}

#experiment-1, #experiment-2, #experiment-3, #experiment-4, #experiment-5, #experiment-6{
	background-size: 100% 100%;
}

#about-text {
	@include pos(relative, 50%, 0)
	@include size(100%, 50%)
	background: $bg-secondary;
	transform: translateY(100%);
	transition: transform 0.5s ease-in-out;
}

#contact-text {
	color: $bg-secondary;
	@include pos(absolute, 0, 0)
	@include size(100%, 50%)
	background: #232323;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
}

.about-text-container {
	padding: 5px 50px;

}

.about-text-container p {
	font-size: 16px;
}


}



@media(max-width: 860px){

	#section-b .wrapper i{
		font-size: 100px;
	}

	h1, #section-d i{
		font-size: 48px;
	}

#section-d .wrapper {
	justify-content: space-around;
	@include size(100%, 50%)
	z-index: 2;
}

#particles-js {
	display: none;
}

#about-container {
	@include pos(absolute, 130px, 0)
	@include size(100%, 85%);
	border-radius: 0px;
}

#about-container h3 {
	font-size: 30px;
}


.box-shadow {
	box-shadow: 0px 0px 0px black;
}

#section-d {
	padding: 50px 0px 200px 0px;

}

}

@media(max-width: 615px){

#section-e {
	padding: 0px;
	padding-top: 50px;
}

#footer {
	font-size: 24px;
	}

#footer img, #brand-logo img{
	@include size(100px, 100px)
	cursor: pointer;
}
#footer a{
	margin: 0 5px;
	}

}


