<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<section id="section-a">
		<nav>
			<div id="brand-logo">
				Placeholder
			</div>
			<div id="header-links">
				<ul>
					<li><a href="#">Skills</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Contact</a></li>
				</ul>				
			</div>
		</nav>

		<div class="text-container">
			<h1>Shaquille Haynes</h1>
			<h3><em>Interactive Front-End Developer</em></h3>
			<button id="about-me">About Me</button>
		</div>

		<div class="wrapper">
			<div id="logo-bg">
			<div id="logo-overlay"></div>
		</div>
		</div>
		
	</section>
	<section id="section-b">
		<h1>Skills</h1>
		<div class="wrapper">
			<img src="/img/js.svg">
			<img src="/img/html5.svg">
			<img src="/img/css3.svg">
			<img src="/img/nodejs.svg">
			<img src="/img/sass.svg">
			<img src="/img/gulp.svg">
			<img src="/img/git.svg">
			<img src="/img/github.svg">
			<img src="/img/jquery.svg">
		</div>
	</section>
	<section id="section-c">
		<h1>Latest Works</h1>
		<div class="wrapper">
			<a href="https://playvsnin.surge.sh"><div class="latest-work" id="work-1"></div></a>
			<a href="https://mytwitch.surge.sh"><div class="latest-work" id="work-2"></div></a>
			<a href="#"><div class="latest-work" id="work-3"></div></a>
		</div>
	</section>
	<section id="section-d">
		<h1>Experiments</h1>
		<div class="wrapper">
			<a href="#"><div class="experiment" id="experiment-1"></div></a>
			<a href="#"><div class="experiment" id="experiment-2"></div></a>
			<a href="#"><div class="experiment" id="experiment-3"></div></a>
			<a href="#"><div class="experiment" id="experiment-4"></div></a>
			<a href="#"><div class="experiment" id="experiment-5"></div></a>
			<a href="#"><div class="experiment" id="experiment-6"></div></a>
		</div>
	
	</section>

	<section id="section-e">
		
	</section>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>